.carrier-form {
    max-width: 600px; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;
}

.carrier-form form {
    display: flex;
    flex-direction: column;
}

.carrier-form form > div {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.carrier-form label {
    flex: 1;
    margin-right: 10px;
    margin-left: 0px;
    text-align: right; 
}

.carrier-form input, .carrier-form button {
    flex: 2;
}

.carrier-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

.carrier-form button[type="submit"]:hover {
    background-color: #45a049;
}
