.carrier-list {
    width: 100%;
    margin-top: 20px;
}

.carrier-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.carrier-list th,
.carrier-list td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.carrier-list th {
    background-color: #f0f0f0;
}

.carrier-list td {
    overflow: hidden; /* Lisatud, et vältida teksti ületäitumist */
    text-overflow: ellipsis; /* Lisatud, et näidata ületäitumise korral ellipsit (...) */ 
    white-space: nowrap; /* Lisatud, et vältida reavahetust */
}

/* Määrake veergude laius */
.carrier-list th:nth-child(1),
.carrier-list td:nth-child(1) {
    min-width: 150px; /* Minimaalne laius 150px */
    max-width: 300px; /* Maksimaalne laius 300px */
}

.carrier-list th:nth-child(2),
.carrier-list td:nth-child(2) {
    min-width: 100px; /* Minimaalne laius 150px */
    max-width: 200px; /* Maksimaalne laius 300px */
}

.carrier-list th:nth-child(3),
.carrier-list td:nth-child(3) {
    min-width: 100px; /* Minimaalne laius 150px */
    max-width: 100px; /* Maksimaalne laius 300px */
}

.carrier-list th:nth-child(4),
.carrier-list td:nth-child(4) {
    min-width: 100px; /* Minimaalne laius 150px */
    max-width: 150px; /* Maksimaalne laius 300px */
}

.carrier-list tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.carrier-list input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

th {
    position: relative;
    padding-right: 30px; /* Ensure space for sort icon */
}

.sort-icon {
    position: absolute;
    right: 15px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    opacity: 0.5;
    pointer-events: none; /* Ensure clicks go through to the th */
}

th:hover .sort-icon {
    opacity: 1;
}
