.sidebar {
    width: 200px; /* Fixed width for the sidebar */
    height: 100vh; /* Full height of the viewport */
    background-color: #282c34;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    color: white;
    overflow-y: auto; /* Adds a scrollbar if the content overflows */
    position: fixed; /* Fixed positioning */
}

.sidebar h2 {
    text-align: left;
}

.sidebar .toggle-menu-button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.sidebar .menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu-items li {
    padding: 10px 0;
    cursor: pointer;
}
