.order-form {
    max-width: 800px; /* Määrab maksimaalse laiuse, et mahutada kaks veergu */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.order-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order-form form > div {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    width: 48%; /* Määrab iga elemendi laiuse pooleks */
}

.order-form label {
    flex: 1;
    margin-right: 10px;
    text-align: right; /* Joondab sildid paremale */
}

.order-form input, .order-form button {
    flex: 2;
}

.order-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.order-form button[type="submit"]:hover {
    background-color: #45a049;
}
