.order-form {
    max-width: 800px; /* Määrab maksimaalse laiuse, et mahutada kaks veergu */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

.order-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order-form form > div {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    width: 48%; /* Määrab iga elemendi laiuse pooleks */
}

.order-form label {
    flex: 1;
    margin-right: 10px;
    text-align: right; /* Joondab sildid paremale */
}

.order-form input, .order-form button {
    flex: 2;
    padding: 5px;
}

.order-form button[type="submit"] {
    background-color: #12826a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    width: 25%;
}

.order-form button[type="submit"]:hover {
    background-color: #12726a;
}

.order-form .generate-purchase-button {
    background-color: #2169cee1;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    width: 25%;
}

.order-form .generate-purchase-button:hover {
    background-color: #2159cee1;
}

.order-form .generate-sale-button {
    background-color: #d32a92;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    width: 25%;
}

.order-form .generate-sale-button:hover {
    background-color: #c32a92;
}

.order-form .toggle-menu-button {
    width: 50%;
    background: #ed9b1f;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    position: relative;
    margin-bottom: 5px;
}

.order-form .toggle-menu-button:hover {
    background-color: #dd9b1f;
}

.order-form .menu-items {
    list-style-type: none;
    left: 82.5%;
    text-align: right;
    font-size: small;
    flex-direction: column;
    position: absolute;
    top: 89%; /* Asetab menüü nupu alla */
    width: 15%; /* Tagab, et menüü laius vastab nupu laiusele */
    background-color: white; 
    z-index: 1;
    border: 1px solid #ccc; /* Lisab piiri menüüle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lisab varju menüüle */
    padding: 0;
    
}

.order-form .menu-items li {
    padding: 5px 12px; /* Lisab sisepaddingut */
    cursor: pointer;
    width: 100%; /* Määrab elemendi laiuse 100% ulatuses */
    display: block; /* Määrab elemendi kuvamise plokina */
    box-sizing: border-box; /* Veendub, et padding ja border arvestatakse elemendi üldlaiusesse */
}

.order-form .menu-items li:hover {
    background-color: #f6e8d4; /* Muudab taustavärvi, kui kursor on elemendi kohal */
}

.order-form .toggle-menu-button::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.bold-label {
    font-weight: bold;
}

.error {
    font-size: small;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    white-space: nowrap; /* Ensure single line */
}

.error::before {
    content: '!';
    background-color: orange;
    color: white;
    width: 20px;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin-right: 5px;
}

.select-container {
    width: 66%; /* Või määrake konkreetne laius, nt 300px */
}
