.App {
  display: flex;
  height: 100vh; /* Kogu lehe kõrguses */
  overflow: hidden; /* Väldib horisontaalset kerimist */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Väldib vertikaalset kerimist */
}
